.editcolor {
    padding-top: 10px; 
    padding-bottom: 10px; 
    padding-left: 13px; 
    padding-right: 13px; 
    background-color:#F7DB6A!important;
}

.bold-icon {
    position: relative;
}

.bold-icon::before { 
    -webkit-text-stroke-width: 1px;
}

/* icons */
/* .navbar-nav .nav-link i.now-ui-icons {
    opacity: 1;
} */