/* 
.tableColWidth {
width:30%!important;
 word-break: break-all
}  */
.fixed-1column {
    position:sticky!important;
    left: 0!important; 
    max-width: 100px!important;
}

.fixed-2column {
  position:sticky!important;
  left: 190!important; 
  max-width: 1200px!important;
} 
.overflow-container {
    overflow-x: scroll;
    /* white-space: nowrap; */
}

.alignCenter {
    text-align: center;
}

.cellwidth {
 max-width: 200px;
}
/* 
.theadheight {
 height:59px;
 position:sticky
} */
 
